@font-face {
	font-family: OpenMoji;
	src: url('https://raw.githubusercontent.com/hfg-gmuend/openmoji/refs/heads/master/font/OpenMoji-color-colr0_svg/OpenMoji-color-colr0_svg.woff2');
}
@font-face {
	font-family: UnifontUpper;
	src: url("unifont-17.0.03.otf") format("opentype");
}
@font-face {
	font-family: UnifontUpper;
	src: url("unifont_upper-17.0.03.otf") format("opentype");
}
