body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}

#gridContainer {
	aspect-ratio: 1 / 1;
	background-color: gray;
	border-collapse: collapse;
	margin-bottom: 1em;
}

@media screen and (orientation:landscape) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
	}
	#gridContainer {
		height: 90%;
	}
	.gridItem {
		height: 9vh;
		font-size: 8vh;
		line-height: 9vh;
	}
}
@media screen and (orientation:portrait) {
	html {
		width: 100%;
	}
	body {
		width: 100%;
	}
	#gridContainer {
		width: 90%;
	}
	.gridItem {
		height: 9vw;
		font-size: 8vw;
		line-height: 9vw;
	}
}

.gridItem {
	position: relative;
}

.gridItem span::after {
	position: absolute;
	top: 0;
	left: 0;
}

.gridItem .mine::after {
	content: "💣";
}
.gridItem .flag::after {
	content: "🚩";
}
.gridItem .hidden::after {
	content: "⬛";
}
.gridItem .number0::after {
	content: "⬜";
}
.gridItem .number1::after {
	content: "1️⃣";
}
.gridItem .number2::after {
	content: "2️⃣";
}
.gridItem .number3::after {
	content: "3️⃣";
}
.gridItem .number4::after {
	content: "4️⃣";
}
.gridItem .number5::after {
	content: "5️⃣";
}
.gridItem .number6::after {
	content: "6️⃣";
}
.gridItem .number7::after {
	content: "7️⃣";
}
.gridItem .number8::after {
	content: "8️⃣";
}
.gridItem .debugMine::after {
	content: "🟧";
}
.gridItem .exploded::after {
	content: "💥";
}
.gridItem .party::after {
	content: "🎉";
}
.gridItem .dead::after {
	content: "💀";
}
