html, body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}

#gridContainer {
	aspect-ratio: 1 / 1;
	background-color: gray;
	border-collapse: collapse;
	margin-bottom: 1em;
}

@media screen and (orientation:landscape) {
	#gridContainer {
		height: 90%;
	}
}
@media screen and (orientation:portrait) {
	#gridContainer {
		width: 90%;
	}
}

/* align the cards on the tiles on the grid */
.gridItem {
	text-align: center;
}
