body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

#gridContainer {
	aspect-ratio: 1 / 1;
	background-color: gray;
	border-collapse: collapse;
}

@media screen and (orientation:landscape) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
	}
	#gridContainer {
		height: 90%;
	}
	.gridItem {
		height: 9vh;
		font-size: 8vh;
		line-height: 9vh;
	}
}
@media screen and (orientation:portrait) {
	html {
		width: 100%;
	}
	body {
		width: 100%;
	}
	#gridContainer {
		width: 90%;
	}
	.gridItem {
		height: 9vw;
		font-size: 8vw;
		line-height: 9vw;
	}
}
