.gridItem .mine::after {
	content: "💣";
}
.gridItem .flag::after {
	content: "🚩";
}
.gridItem .hidden::after {
	content: "⬛";
}
.gridItem .number0::after {
	content: "⬜";
}
.gridItem .number1::after {
	content: "1️⃣";
}
.gridItem .number2::after {
	content: "2️⃣";
}
.gridItem .number3::after {
	content: "3️⃣";
}
.gridItem .number4::after {
	content: "4️⃣";
}
.gridItem .number5::after {
	content: "5️⃣";
}
.gridItem .number6::after {
	content: "6️⃣";
}
.gridItem .number7::after {
	content: "7️⃣";
}
.gridItem .number8::after {
	content: "8️⃣";
}
.gridItem .debugMine::after {
	content: "🟧";
}
.gridItem .exploded::after {
	content: "💥";
}
.gridItem .party::after {
	content: "🎉";
}
.gridItem .dead::after {
	content: "💀";
}
