.gridItem {
	cursor: pointer;
}

/* positioning and sizing of emoji holders */
.card {
	position: relative;
	width: 1em;
	height: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card span {
	position: absolute;
}
.card .backgroundEmojiHolder {
	z-index: 1;
}
.card .regularEmojiHolder {
	z-index: 2;
	/* the emoji on card's face is smaller than the card itself */
	font-size: 75%;
}
.card .overlayEmojiHolder {
	z-index: 3;
	font-size: 60%; /* to fit inside the moon emoji */
}

/*
 * 3D-flip CSS code adapted from https://stackoverflow.com/a/41462226/1083697
 */
.gridItem {
	position: relative;
}
.front,
.back {
	position: absolute; /* needed to put the front and back sides of the card on top of each other */
	transition: transform 0.5s;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
.gridItem .frontUp .front {
	transform: rotateY(360deg);
}
.gridItem .frontUp .back {
	transform: rotateY(180deg);
}
